<div class="container">
  <h1>Update Employee Information</h1>
  <div>
    <form (ngSubmit)="onsubmit()">
      <div class="form-group">
        <label>Frisname :</label>
        <input
          type="text"
          name="fristName"
          id="lastName"
          class="form-control"
          [(ngModel)]="employee.fname"
        />
      </div>
      <div class="form-group">
        <label>LastName :</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          class="form-control"
          [(ngModel)]="employee.lname"
        />
      </div>
      <div class="form-group">
        <label>Email :</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          [(ngModel)]="employee.email"
        />&nbsp;
      </div>
      <div>
        <button class="btn btn-primary" type="submit" name="submit">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
